@import "../../styles/responsive";
@import "../../styles/variables";

.page-container {
  padding-top: 60px;

  @include device-specific($xs) {
    padding-bottom: 0;
  }
  @include device-specific($sm) {
    padding-bottom: 0;
  }
  @include device-specific($md) {
    padding-bottom: 120px;
  }
}

.social-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin-bottom: 60px;
}

.social-link-item {
  padding: 25px;

  @include device-specific($xs) {
    width: 100%;
  }
  @include device-specific($sm) {
    width: 50%;
  }
  @include device-specific($md) {
    width: calc(100% / 3);
  }
  @include device-specific($xl) {
    width: 25%;
  }
}

.section-title {
  text-align: center;
  font-weight: 600;
}
.section-desc {
  text-align: center;
  color: $grey_300;
}
.social-profiles-contact-link {
  color: $accent_color;
  font-weight: 600;
  cursor: pointer;
}
