@import "../../styles/variables";
@import "../../styles/responsive";

.container {
  padding-top: 60px;

  @include device-specific($xs) {
    padding-bottom: 20px;
  }
  @include device-specific($sm) {
    padding-bottom: 20px;
  }
  @include device-specific($md) {
    padding-bottom: 80px;
  }
}
.content {
  @include device-specific($xs) {
    width: 100%;
  }
  @include device-specific($sm) {
    width: 100%;
  }
  @include device-specific($md) {
    width: 80%;
  }
  @include device-specific($lg) {
    width: 60%;
  }
}

.social-links {
  display: flex;
  flex-wrap: wrap;


  @include device-specific($xs) {
    margin-bottom: 20px;
    justify-content: center;
  }
  @include device-specific($sm) {
    margin-bottom: 20px;
    justify-content: center;
  }
  @include device-specific($md) {
    margin-bottom: 60px;
    justify-content: flex-start;
  }
}

.social-link-item {
  padding: 25px;

  @include device-specific($xs) {
    width: 100%;
  }
  @include device-specific($sm) {
    width: 100%;
  }
  @include device-specific($md) {
    width: 60%;
  }
  @include device-specific($lg) {
    width: 50%;
  }
}

.beta-project {
  margin-top: 40px;
}
