@import "../../styles/media-mixin";

.current-projects {
  li {
    .project-name {
      margin-right: 8px;
      cursor: pointer;
    }

    .project-link {
      cursor: pointer;
    }
  }
}

@include device-specific($pc) {
  .current-projects {
    li:hover {
      .project-link {
        padding-left: 5px;
      }
    }
  }
}
