/* COLORS */
$white: #fff;
$light_grey: #cfcfcf;
$grey: #B6B6B6;
$blue_250: #bbdeff;
$blue_400: #2484ff;
$blue_500: #4b4bf5;
$blue_700: #081060;
$blue_750: #000059;
$red_error: #9f0717;

$link_color: #5574ff;

$shadow_color_blue: rgba(75, 75, 245, 0.3);
$shadow_color_grey: #d6d6d6;
$shadow_color_grey_dark: #bfbfbf;

/* FONTS */
$font_verdana: Verdana, Geneva, sans-serif;

/* PROPERTIES */
$thin_border: 1px solid black;
