@import "./variables";
@import "./responsive";
@import "./projects";
@import "./fonts";

$primary: $primary-color;
$secondary: $secondary-color;
$danger: $accent-color;

@import "~bootstrap/scss/bootstrap";
@import "~react-image-gallery/styles/scss/image-gallery.scss";

* {
  font-family: $font-roboto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $text-color-black;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-sans-pro;
  color: $primary-color;
}

a {
  font-family: $font-roboto;
  text-decoration: none;
  color: $accent-color;

  &:hover {
    color: $accent-color;
    text-decoration: none;
  }
}

.page-container {
  display: flex;
  justify-content: center;
}

.page-content {
  @include device-specific($xs) {
    width: 90%;
  }
  @include device-specific($sm) {
    width: 90%;
  }
  @include device-specific($md) {
    width: 80%;
  }
  @include device-specific($lg) {
    width: 60%;
  }
}

.image-gallery-slide img {
  width: 100%;
  height: 250px;
  max-height: 250px !important;
  object-fit: cover;
  overflow: hidden;
  object-position: center center;
}

.type-dark {
  color: #fff !important;
  background: #222 !important;
  border: 1px solid transparent !important;
}

.place-top {
  &::before {
    border-top: 8px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    bottom: -8px;
    left: 50%;
    margin-left: -10px;
  }

  &::after {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    bottom: -6px;
    left: 50%;
    margin-left: -8px;
    border-top-color: #222;
    border-top-style: solid;
    border-top-width: 6px;
    content: "";
    width: 0;
    height: 0;
    position: absolute;
  }
}
