@import "./variables";

$light-tag-text: $text-color-white;
$dark-tag-text: $text-color-black;

$security-ng: purple;
$kumuluzee-bg: #155bfb;
$microprofile-bg: #FAB331;
$library-bg: #066906;
$angular-bg: #C3002F;
$config-bg: #19B0C1;
$typescript-bg: #3178C6;

.tag-security {
  background-color: $security-ng !important;
  color: $light-tag-text !important;
}

.tag-kumuluzee {
  background-color: $kumuluzee-bg !important;
  color: $light-tag-text !important;
}

.tag-microprofile {
  background-color: $microprofile-bg !important;
  color: $light-tag-text !important;
}

.tag-library {
  background-color: $library-bg !important;
  color: $light-tag-text !important;
}

.tag-angular {
  background-color: $angular-bg !important;
  color: $light-tag-text !important;
}

.tag-config {
  background-color: $config-bg !important;
  color: $light-tag-text !important;
}

.tag-typescript {
  background-color: $typescript-bg !important;
  color: $light-tag-text !important;
}
