@import "../../styles/variables";
@import "../../styles/responsive";

.page-container {
  padding-top: 60px;

  @include device-specific($xs) {
    padding-bottom: 60px;
  }
  @include device-specific($sm) {
    padding-bottom: 60px;
  }
  @include device-specific($md) {
    padding-bottom: 120px;
  }
}
.default-container {
  padding-bottom: 20px;
}

.project-tags {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 5px 0;
  width: 100%;
}

.project-tag {
  margin-right: 10px;
  margin-bottom: 5px;

  &:last-child {
    margin-right: 0;
  }
}
.releases-container {
  margin: 20px 0;
}

.gallery-container {
  @include device-specific($xs) {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  @include device-specific($sm) {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  @include device-specific($md) {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

.license-container {
  margin-top: 20px;
}
.license-key {
  font-weight: 600;
}
.license-value {
  font-weight: 700;
  color: $accent-color;
}

.repository-container {
  margin-top: 20px;
}
