@import "../../../styles/variables";
@import "../../../styles/responsive";

.container {
  @include device-specific($xs) {
    width: 100%;
  }
  @include device-specific($sm) {
    width: 100%;
  }
  @include device-specific($md) {
    width: 60%;
  }
  @include device-specific($lg) {
    width: 40%;
  }
}

.latest {
  color: $primary-color;
  cursor: pointer;

  border: 1px solid $grey-300;
  border-radius: 5px;
  padding: 15px;
}
.only-latest {
  cursor: default !important;
}

.others-title-container {
  margin: 20px 0;

  h4 {

  }
}

.others-container {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;

  border: 1px solid $grey-300;
  border-radius: 5px;
  padding: 5px 30px;
}

.other-release {
  padding: 5px 0;
}
