@import "../../../styles/variables";

.container {
  width: 40%;
}

.latest {
  color: $primary-color;
  cursor: pointer;

  border: 1px solid $grey-300;
  border-radius: 5px;
  padding: 15px;
}
.only-latest {
  cursor: default !important;
}

.others-title-container {
  margin: 20px 0;

  h4 {

  }
}

.others-container {
  display: flex;
  flex-direction: column;

  border: 1px solid $grey-300;
  border-radius: 5px;
  padding: 5px 15px;
}

.other-release {
  padding: 5px 0;
}
