@import "../../styles/responsive";
@import "../../styles/variables";

.header {
  padding: 40px 0;

  h2 {
    font-weight: 600;
  }
}
.projects {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.project-item {
  @include device-specific($xs) {
    width: 100%;
  }
  @include device-specific($md) {
    width: 50%;
  }
}

.project-tags {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 5px 0;
  width: 100%;
}
.project-tag {
  margin-right: 10px;
  margin-bottom: 5px;

  &:last-child {
    margin-right: 0;
  }
}
