@import "../../styles/variables";
@import "../../styles/responsive";

.container {
  width: 100%;
}
.title {
  font-size: 22px;
}

.form {
  display: flex;
  flex-wrap: wrap;

  @include device-specific($xs) {
    justify-content: center;
  }
  @include device-specific($sm) {
    justify-content: center;
  }
  @include device-specific($md) {
    justify-content: space-between;
  }
}

.name-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include device-specific($xs) {
    width: 100%;
    margin-top: 20px;
  }
  @include device-specific($sm) {
    width: 100%;
    margin-top: 20px;
  }
  @include device-specific($md) {
    width: calc(50% - 20px);
  }
}
.message-section {
  @include device-specific($xs) {
    width: 100%;
  }
  @include device-specific($sm) {
    width: 100%;
  }
  @include device-specific($md) {
    width: calc(50% - 20px);
  }
}

.form-item-label {
  font-weight: 600;
  font-size: 0.75rem;
}

.form-item-group {
  width: 100%;

  input {
    width: 100%;
  }
  textarea {
    width: 100%;
  }
}

.form-item {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  border-left-width: 0;
  border-right-width: 0;
  border-top-width: 0;
  border-bottom-width: 2px;
  border-bottom-color: $secondary-color;
  background-color: $primary-color;
  color: $text-color-white;
  width: calc(100% - 25px);

  &:focus-visible {
    outline: none;
  }
}
.form-item-text {
  width: 100%;
  margin-right: 0;
}
.errored {
  border-bottom-color: $red_error;
}
.actions {
  width: 100%;
  display: flex;
  margin-top: 20px;

  @include device-specific($xs) {
    justify-content: center;
  }
  @include device-specific($sm) {
    justify-content: center;
  }
  @include device-specific($md) {
    justify-content: flex-end;
  }
}
.submit-button {
  background-color: $primary-color;
  border: 1px solid white;
  border-radius: 5px;
  height: 50px;


  display: flex;
  justify-content: center;
  align-items: center;

  &[disabled] {
    opacity: 0.5;
  }

  @include device-specific($xs) {
    min-width: 60%;
  }
  @include device-specific($sm) {
    min-width: 60%;
  }
  @include device-specific($md) {
    min-width: 125px;
  }
}

.alerts {
  width: 100%;
  margin-bottom: 20px;
  margin-top: 20px;
}

.alert {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  width: 100%;
  height: 50px;

  &.alert-error {
    border: 1px solid $red_error;
    color: $red_error;
  }
  &.alert-sent {
    border: 1px solid green;
    color: green;

  }
}
