@import "../../styles/variables";
@import "../../styles/responsive";


.container-padding {
  @include device-specific($xs) {
    padding-bottom: 20px;
  }
  @include device-specific($sm) {
    padding-bottom: 20px;
  }
  @include device-specific($md) {
    padding-bottom: 60px;
  }
}

.container {
  background-color: $primary-color;
  display: flex;
  justify-content: center;

  * {
    color: $text-color-white;
  }
  @include device-specific($xs) {
    padding-top: 20px;
  }
  @include device-specific($sm) {
    padding-top: 20px;
  }
  @include device-specific($md) {
    padding-top: 40px;
  }
}

.content {
  width: 100%;
}

.social-links {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0 20px 0;
}

.social-link {
  margin-right: 40px;
  font-size: 32px;

  &:last-child {
    margin-right: 0;
  }
}

.contact-form-container {
  margin-top: 20px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
}
.contact-form {
  @include device-specific($xs) {
    width: 80%;
  }
  @include device-specific($sm) {
    width: 80%;
  }
  @include device-specific($md) {
    width: 50%;
  }
}

.copyright {
  text-align: center;
  width: 100%;
  color: $text-color-white;
  padding-bottom: 40px;
}
