@import "../../../../../styles/variables";
@import "../../../../../styles/responsive";

.item-link {
  width: 75%;
  height: 60px;
  margin-bottom: 40px;
  border: 1px solid $grey_200;
  border-radius: 5px;

  &:last-child {
    margin-bottom: 0;
  }

  .link-elem {
    display: block;
    padding: 15px 25px;
    width: 100%;
    height: 100%;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      transition: 0.3s linear;
      z-index: 2;
    }
    .link-text {
      display: flex;
      align-items: center;
      position: relative;
      top: 3px;
      z-index: 10;
      left: 0;
      transition: 0.3s ease;
      overflow: hidden;
      span {
        line-height: 24px;
      }
    }
  }
  @include device-specific($phone) {
    width: 100%;
  }
  @include hover-only {
    $hover-color: $primary-color;

    border: 1px solid $hover-color;
    .link-elem {
      cursor: pointer;

      .link-text {
        left: 50px;
        span {
          // transform: scale(1.1);
          font-size: 1.1rem;
        }
      }
      &::before {
        background-color: $hover-color;
        color: white;
        width: 100%;
      }
    }
  }
}
